.inicio
{
display: flex;
justify-content: center;
}

.logosm{
    display: flex;
    justify-content: center;
}

.portada1{

    display: flex;
    justify-content: center;

}

.ubicacion{

    display: flex;
    justify-content: center;

}

.ubi2{
    display: flex;
    justify-content: center;
}